<html>

<head>

<title>HACKED BY AS HUMKER</title>

<link rel="icon" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a7717328-6939-46dc-b54f-93eb0fd051d9/db7dpa9-3f256546-6822-415b-b79c-f9afe401b8fe.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E3NzE3MzI4LTY5MzktNDZkYy1iNTRmLTkzZWIwZmQwNTFkOVwvZGI3ZHBhOS0zZjI1NjU0Ni02ODIyLTQxNWItYjc5Yy1mOWFmZTQwMWI4ZmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YDqjpz5Xo1Q-zlAxccjoEHPdrQOtqE2u-zzMMTZbq3A" type="image/x-icon" />

<link rel="shortcut icon" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a7717328-6939-46dc-b54f-93eb0fd051d9/db7dpa9-3f256546-6822-415b-b79c-f9afe401b8fe.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E3NzE3MzI4LTY5MzktNDZkYy1iNTRmLTkzZWIwZmQwNTFkOVwvZGI3ZHBhOS0zZjI1NjU0Ni02ODIyLTQxNWItYjc5Yy1mOWFmZTQwMWI4ZmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YDqjpz5Xo1Q-zlAxccjoEHPdrQOtqE2u-zzMMTZbq3A" type="image/x-icon" />

<link rel="stylesheet" href="https://nathanprinsley-files.prinsh.com/data-1/css/deface(30-01).css"/>

</head>

<body alink="gray" bgcolor="black" vlink="gray" link="gray" text="gray">

<p align="center">

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a7717328-6939-46dc-b54f-93eb0fd051d9/db7dpa9-3f256546-6822-415b-b79c-f9afe401b8fe.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E3NzE3MzI4LTY5MzktNDZkYy1iNTRmLTkzZWIwZmQwNTFkOVwvZGI3ZHBhOS0zZjI1NjU0Ni02ODIyLTQxNWItYjc5Yy1mOWFmZTQwMWI4ZmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YDqjpz5Xo1Q-zlAxccjoEHPdrQOtqE2u-zzMMTZbq3A">

</p>

<br/>

<center>

  <b class="Gre">SILENT PUNISHER PAKISTAN</b>

  <br>

  <font>

</font><p id="message"><font color="white">

<strong><br>FUCK THE ROOTED SYSTEMS<br>

<br>|| DO RESPECT HAZRAT MUHAMMAD S.A.W. WE WILL NO LONGER BEAR BLASPHEMY OR INCIVILITY WE ARE NOT ANYONE'S PERSONAL ARMY FOR INVIDIUAL GOALSBIT WE WILL STAND AND FIGHT BACK JUST FOR THE HONOR OF OUR BELOVED PROPHET MUHAMMAD (PEACE BE UPON HIM). WE ARE UNSTOPPABLE & WE DONT CARE ABOUT ANYTHING ||<br>

 <br>

  <br>MUSLIMS HACKTIVITIST</strong><br>

<br>

GREETZ ||<span class="ahgcrewstyle"><strong><strong></strong>| AS BALOCH || BILAL HAIDER || NOT HAXOR || HASSAN RAZA || FARAZ ALI || FAISAL MARWAT || BATMAN PK || AHMED XD || AWAIS XD |</strong></span><strong><br>

</font></p>

<p ="center">|| HACKED BY ||<b><font size="3"><span class="ahgcrewstyle">|| AS HUMKER ||</span></font></br></p>


<p>

 <p align="center"><font color="green" size="+1" face="Times New Roman"><br>|| REMEMBER WE ARE MUSLIMS WE ARE ANONYMOUS WE ARE PALESTINE'S FUCK ISRAEL AND FUCK ISRAEL SUPPORTERS AND FUCK NON MUSLIMS WHO INSULTING OUR MUSLIM BROTHERS AND OUR RELIGION ||</p>

<div id="fb-root"></div>

<audio src="https://d.top4top.io/m_321799x3x0.mp3" controls autoplay="1" loop="1"></audio><marquee class="foonathanPrinsley"><b style="color: #dbd9d9;font-size:16px;"

<p align="center"><font size="+8" face="Times New Roman"><font color="white">WE <font color="green"> ARE <font color="green"> LEGION</p>

</font></p>

</body>

</html>
